@tailwind base;
@tailwind components;
@tailwind utilities;

.floating {  
    animation-name: floating;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 5px); }
    to   { transform: translate(0, -0px); }    
}

.spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .spectral-light-italic {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .spectral-medium-italic {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .spectral-semibold-italic {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .spectral-extrabold-italic {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: italic;
  }
  
 /* Default state: hidden and scaled down */
.navbar-menu {
  
  
  transform: scale(0);
  transform-origin: top right;
  
  transition: transform 0.2s ease-in-out;
}

/* When active: scale up and fade in */
.navbar-menu.active {
  transform: scale(1);
  
}

html {
  scroll-behavior: smooth;
}

.scroll-element-up {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
}

.scroll-animate-up {
  opacity: 1;
  transform: translateY(0);
}
.scroll-element-left {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.5s ease-in-out;
}

.scroll-animate-left {
  opacity: 1;
  transform: translateX(0);
}
.scroll-element-right {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.5s ease-in-out;
}

.scroll-animateup-right {
  opacity: 1;
  transform: translateX(0);
}




